/**
 * File: frontend/src/Components/css/App.css
 * Author: Connor Vardakis
 * Date: 3/10/25
 * Updated: 4/20/25
 * Description: App.css returns the formating for the App.jsx html
 **/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  margin: 0;
  padding: 0rem 2rem;
  color: white;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

html {
  background: url('../../Assets/Background.png') no-repeat center center fixed;
  background-size: cover;
  line-height: 1.5;
}

