.about-data {
    /*background-color: #444; !* Dark gray background *!*/
    color: #fff;            /* White text */
    justify-content: center;
    align-items: center;
    align-content: center;
    /*padding: 1rem;          !* Spacing around the content *!*/
    /*margin-top: 1rem;*/
    /*margin-bottom: 1rem;    !* Space beneath the section *!*/
    /*border-radius: 4px;     !* Optional rounded corners *!*/
}

.about-data h2 {
    margin-top: 2rem;          /* Remove default top margin on the heading */
}

.about-data p {
      /* Keep paragraph spacing consistent */
    line-height: 1.5;
    width: 75%;
}

.about-text {
    display: flex;
    flex-direction: column;
}