@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

html, body {
  color: white;
}

body {
  background: url('Assets/Background.png') no-repeat center center fixed;
  background-size: cover;
  padding-left: 2rem;
  /* background-attachment: fixed; is implied by “fixed” in the shorthand above */
}

