.sensor-card{
    /*border: 4px solid green;*/
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    display: inline-block;
    text-align: center;
}

.sensor-status-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 1rem;       /* space between cards */
    padding: 1rem;   /* space around the whole group */
}

p {
    text-color: white;
}